# Ignore all .tfstate files anywhere
*.tfstate
*.tfstate.backup

# Ignore all .tfvars files (sensitive vars)
*.tfvars
*.tfvars.json

# Ignore all plan files
*.tfplan

# Ignore crash logs
crash.log

# Ignore all .terraform folders (in all modules/envs)
.terraform/

# Ignore lock file
.terraform.lock.hcl
